@{
    ViewBag.Title = "ReviewCheck Review";
}
<div class="">
    <section class="content">
        <div class="container-fluid vh-80 my-auto">
            <div class="row my-lg-2" style="min-height:20vh">
                <div class="col-lg-8 center-block">
                    <div class="text-center">
                        <div class="btn-group btn-group-lg" role="group">
                            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index", "Home")'" style="border-top-left-radius: 16px;border-bottom-left-radius: 16px;min-width: 10vw;">
                                View Product Analysis
                            </button>
                            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Review", "Home")'" style="border-top-right-radius: 16px;border-bottom-right-radius: 16px;min-width:10vw;">
                                Add a Review
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-lg-2" style="min-height:10vh">
                <div class="col-lg-8 center-block">
                    <div class="text-center">
                        <img src="~/Content/logo.jpg" width="400" />
                    </div>
                </div>
            </div>
            <div class="row my-lg-2" style="min-height:30vh">
                <div class="col-lg-8 center-block">
                    @using (Html.BeginForm("Analysis", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="form-group">
                            <label>Enter Product Link</label>
                            <input class="form-control" style="max-width:60vw;" rows="1" name="url" placeholder="Enter a URL" />
                        </div>
                        <div class="form-group">
                            <label>Enter Review Below</label>
                            <textarea class="form-control" style="max-width:60vw;" rows="5" name="review" placeholder="Enter your review"></textarea>
                        </div>
                        <div class="text-center">
                            <button type="submit" style="min-width:10vw" class="btn btn-lg btn-primary rounded-pill">Publish Review</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</div>
